@tailwind base;
@tailwind components;
@tailwind utilities;

.outline-text {
  -webkit-text-stroke: 6px rgba(253, 196, 53, 0.2); /* Ketebalan dan warna outline */
  color: transparent; /* Warna teks transparan untuk hanya menampilkan outline */
}
.outline-text2 {
  -webkit-text-stroke: 1px white; /* Ketebalan dan warna outline */
  color: black; /* Warna teks transparan untuk hanya menampilkan outline */
}

